#tabel1{
    height: 200px;
    border: 10px black double;
    border-collapse: collapse;
}

#tabel1 td{
    border: 10px black double;
    text-align: center;
}

#ruutud{
    list-style-type: square;
    font-family: comic Sans MS, cursive;
}

#correction1{
    list-style-type: none;
    font-family: papyrillic, serif;
}
#correction2{
    list-style-type: disc;
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

}