#tabel1{
    border: 1px outset grey;
    padding: 1px;
}

#tabel1 td{
    text-align: center;
    border: 1px outset grey;
    padding: 1px;
}

#ruutud{
    list-style-type: square;
    font-family: comic Sans MS, cursive;
}

#correction1{
    list-style-type: none;
    font-family: papyrillic, serif;
}
#correction2{
    list-style-type: disc;
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

}